# ipynb checkpoints.
.ipynb_checkpoints
binder/binder/.ipynb_checkpoints

.cache
__pycache__
/src/pydap/tests/dap_4_access/user.config
/src/pydap/tests/dap_4_access/dap4_access_test.log

# OS-X Finder
*.DS_Store

